body {
    background-color: #ecf0f1;
    font-family: "Arial";
}
form fieldset {
    border: none;
    padding: 5px;
    margin: 0;
}
form label {
    display: block;
}
#sidebar textarea {
    max-width: 234px;
    max-height: 115px;
}
#board {
    position: relative;
    width:100%;
    margin: 0 auto;
    min-width: 870px;
    -webkit-transition: .5s width, .5s padding;
    -moz-transition: .5s width, .5s padding;
}
#board.withAdminBar {
    padding-left: 230px;
    width:80%;
}
.column {
    width: 23%;
    display: inline-block;
    border: 2px solid #7f8c8d;
    margin: 5px;
    height: auto;
    min-width: 190px;
    vertical-align: top;
}
.note {
    background-color: #2c3e50;
    margin: 5px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    min-width: 100px;
    color: #ecf0f1;
    border-radius: 2px;
	min-width: 40%;
}
.note > .title, .note > .content {
    display: block;
    padding: 2px;
    height: auto;

}
.note > .content
{
    transform: scaleY(1);    
    transform-origin: top;
    padding: 10px 15px;
}
.note > .title 
{
    /*    border-bottom: 1px solid #fff;*/
    font-weight: bold;
    padding: 10px 15px 7px 15px;
    background-color: rgba(0,0,0,.2);
    box-shadow: 0px -10px 20px -15px #000 inset;
}
.note > .moveLeft, 
.note > .moveRight {
    position: absolute;
    height: 100%;
    background-color: #92b06a;
    padding: 0px 10px;
    line-height: 100px;
    z-index: 100;
    opacity: 0;
    transition: .8 opacity;
    -webkit-transition: .5s opacity;
    -moz-transition: .5s opacity;
    color: #ddd;
    cursor: pointer;
    width:15px
        }
.note i {
    position: absolute;
    top:50%;
    height: 0;
    line-height: 2px;
    left: 10px;
}
.note > .moveLeft {
    box-shadow: 5px 0px 8px #222;
    left:0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.note > .moveRight {
    box-shadow: -5px 0px 8px #222;
    right:0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.note:hover > .moveRight,.note:hover > .moveLeft {
    opacity: .2;
}
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}
.over {
    border: 2px dashed #000
        }
.column > .title {
    height:40px;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    font-size: 25px;
    color: #2980b9;
}
#sidebar {
    min-width:250px;
    width: 250px;
    position:absolute;
    top:10px;
    height: 90%;
    min-height: 400px;
    background-color:#16a085;
    z-index: 999;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.7);
    border-bottom-right-radius: 10px;
    border: 2px solid #ecf0f1;
    transition: .5s left ease-out;
    -webkit-transition: .5s left ease-out;
}
#sidebar > .title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color:#eee;
    text-shadow: 2px 2px 0px #000;
}
#sidebar > .content {
    color:#eee;
    text-shadow: 1px 1px 2px #000;
}
#sidebar.closed 
{
    left:-245px;
}
#sidebar.opened 
{
    left:-2px;
}
#sidebar .handleBar {

    position:absolute;
    right:-29px;
    top:-2px;
    width:20px;
    font-size: 30px;
    padding-left:7px;
    background-color:#16a085;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
    border: 2px solid #ecf0f1;
    border-left: none;
    cursor: pointer;
    /*    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.7);*/
}